Importing Data

In [53]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Stugots\Desktop\Bootcamp Stuff\Intro to Python\Instacart Basket Analysis 01-2025'

In [14]:
df_ords = pd.read_csv(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_checked.csv'))

In [16]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'orders_products_prior.csv'))

In [18]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
df_ords.shape

(3421083, 8)

In [24]:
df_ords_prior.shape

(32434489, 4)

In [26]:
#merging dataframes using order_id as key column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id' , indicator = True)

In [44]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [48]:
#checking for number of complete columns that have data from both dataframes
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [57]:
#exporting as pickle file
df_merged_large.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_products_merged.pkl'))