In [46]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [47]:
#creating path for easier import of data
path = r'C:\Users\Stugots\Desktop\Bootcamp Stuff\Intro to Python\Instacart Basket Analysis 01-2025'

In [48]:
#importing data as dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', 'orders_products_merged_newcolumns.pkl'))

In [49]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average Orders
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Regularly busy,Average Orders
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Regularly busy,Average Orders
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Regularly busy,Average Orders
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Regularly busy,Average Orders
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy,Average Orders
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Regularly busy,Least busy,Average Orders
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Least busy,Average Orders
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Regularly busy,Least busy,Average Orders
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Least busy,Average Orders
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Regularly busy,Least busy,Average Orders
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy,Most Orders
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Least busy,Most Orders
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,Regularly busy,Least busy,Most Orders
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,Regularly busy,Least busy,Most Orders
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88,13,3.2,both,Regularly busy,Least busy,Most Orders
16,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Average Orders
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Least busy,Least busy,Average Orders
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,117,19,3.0,both,Least busy,Least busy,Average Orders
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Least busy,Least busy,Average Orders

In [50]:
#grouping by deptartment_id to get the mean order numbers per dept.
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

I found it interesting that overall the numbers did not change that much from the subset to the full dataframe. The subset actually gave us a very good idea of what the entire dataframe would look like

In [52]:
#creating max order column to show max orders for each customer
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [53]:
#creating loyalty flag column derived from max order column value
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [54]:
#grouping by loyalty flag to get the mean prices for the items they ordered
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

It appears that in general New customers and Regular customers actually spend more/buy more expensive products than the Loyal customers.

In [56]:
#creating average_price column to show average price of all items purchased by each customer
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [57]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy,Average Orders,10,New customer,6.367797
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,Regularly busy,Least busy,Average Orders,10,New customer,6.367797
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Least busy,Average Orders,10,New customer,6.367797
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,Regularly busy,Least busy,Average Orders,10,New customer,6.367797
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Least busy,Average Orders,10,New customer,6.367797
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,Regularly busy,Least busy,Average Orders,10,New customer,6.367797
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy,Most Orders,10,New customer,6.367797
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Least busy,Most Orders,10,New customer,6.367797
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,Regularly busy,Least busy,Most Orders,10,New customer,6.367797
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,Regularly busy,Least busy,Most Orders,10,New customer,6.367797
15,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88,13,3.2,both,Regularly busy,Least busy,Most Orders,10,New customer,6.367797
16,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
17,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
18,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,117,19,3.0,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
19,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
20,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
21,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
22,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
23,431534,1,5,4,15,28.0,10258,3,1,Pistachios,117,19,3.0,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
24,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
25,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,24,4,2.7,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
26,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,24,4,14.0,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
27,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,24,4,5.0,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
28,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,24,4,10.3,both,Least busy,Least busy,Most Orders,10,New customer,6.367797
29,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
30,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
31,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,117,19,3.0,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
32,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
33,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
34,550135,1,7,1,9,20.0,10258,2,1,Pistachios,117,19,3.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
35,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
36,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
37,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
38,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
39,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
40,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,117,19,3.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
41,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,21,16,8.6,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
42,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,77,7,13.4,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
43,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,53,16,1.8,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
44,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,53,16,1.8,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
45,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,77,7,13.4,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
46,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,21,16,8.6,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
47,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
48,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,117,19,3.0,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
49,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,23,19,4.4,both,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
50,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
51,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,77,7,13.4,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
52,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,45,19,6.8,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
53,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
54,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,21,16,8.6,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
55,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,117,19,3.0,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
56,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
57,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
58,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,23,19,4.4,both,Least busy,Least busy,Average Orders,10,New customer,6.367797
59,2168274,2,1,2,11,NaN,32792,1,0,Chipotle Beef & Pork Realstick,23,19,5.2,both,Regularly busy,Regularly busy,Most Orders,14,Regular customer,7.515897

In [85]:
#creating spender type column derived from average_price
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spender_type'] = 'Low Spender'
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spender_type'] = 'High Spender'

In [87]:
#checking to see if it worked using value counts
ords_prods_merge['spender_type'].value_counts(dropna = False)

spender_type
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

In [89]:
#creating frequency column to show median days since last order for each customer
ords_prods_merge['median_days_since_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [91]:
#checking to see if it worked
ords_prods_merge['median_days_since_order'].value_counts(dropna = False)

median_days_since_order
7.0     5682399
6.0     2983604
8.0     2713964
5.0     2486061
4.0     2314289
         ...
26.5       5514
29.5       5095
1.5        1684
0.5         235
NaN           5
Name: count, Length: 62, dtype: int64

In [93]:
#creating customer frequency column derived from median_days_since_order
ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] > 20, 'customer_frequency'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_order'] <= 20) & (ords_prods_merge['median_days_since_order'] > 10), 'customer_frequency'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] < 10, 'customer_frequency'] = 'Frequent customer'

In [101]:
#checking to see if it worked
ords_prods_merge['customer_frequency'].value_counts()

customer_frequency
Frequent customer        20287988
Regular customer          7208564
Non-frequent customer     3636437
Name: count, dtype: int64

In [105]:
#export to pkl file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_products_merge_aggcolumns.pkl'))